.DS_Store

*.tar.gz
devpaas-vm/packer/packer_cache/
devpaas-vm/packer/packer_logs/
devpaas-vm/packer/builds/
devpaas-vm/packer/http/preseed-*.cfg

gcp_accountfile.json

*.mf
*.box
*.vdi
*.vmdk
*.ovf
*.ova
*.tfstate
*.tfstate.backup
*.plan
*.terraform
*.pem

.vagrant/
.terraform/

*.iml
.idea/inspectionProfiles
.idea/sonarlint/
.idea/modules.xml
.idea/Scala_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/atlassian-ide-plugin.xml
.idea/dbnavigator.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/codeStyles/Project.xml

.vscode/
