.DS_Store

*.tar.gz

# Key Files
*.pem

#Google Cloud Platform key files
gcp_accountfile.json

# VirtualBox Files
*.mf
*.vdi
*.vmdk
*.ovf
*.ova

# Packer Files
packer/packer_cache/
packer/packer_logs/
packer/builds/
packer/http/preseed-*.cfg

# Vagrant Files
.vagrant/
*.box

# Terraform Files
.terraform/
*.tfstate
*.tfstate.backup
*.plan
*.terraform

# JetBrain IntelliJ files
*.iml
.idea/inspectionProfiles
.idea/sonarlint/
.idea/modules.xml
.idea/Scala_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/atlassian-ide-plugin.xml
.idea/dbnavigator.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/codeStyles/Project.xml

# Visual Studo Code files
.vscode/
